<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picmap">

    <uses-feature android:name="android.hardware.Camera"
        android:required="true"></uses-feature>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CameraActivity"/>
        <activity android:name=".activities.DetailActivity"/>
        <activity android:name=".activities.MapActivity"/>
        <activity android:name=".activities.CloudFirebase"/>
        <activity android:name=".activities.CloudRegistration"/>
        <activity android:name=".activities.CloudLogin"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCE8zrExDhscRUTEC3yjmyq4-vWw1XlKto" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>